<div class="contactBox" data-user="{{id}}">
    <div class="personImg">
        {{#if img}}
            <img class="img {{class}}" src="{{img}}" height="48" width="48" alt="">
        {{^}}
            <img class="img {{class}}" src="src/img/profile.png" height="48" width="48" alt="">
        {{~/if~}}
    </div>
    <div class="contactInfo">
        <div class="name">{{name}}</div>
        <div class="messText">Lorem ipsum dolor sit amet, co</div>
    </div>
</div>